@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <img src="~/images/image_3.jpg" alt="Alternate Text"/>
   
    <a href="/Home/Link">Lihat mobil Pake href</a>
    <br />
    <a asp-controller="Home" asp-action="Link">Llihat mobil pake asp</a>
</div>